body
    font-family: 'Inter Tight', sans-serif
    font-weight: 400
    font-size: 18px
    background: var(--color-white)
    color: var(--color-black)
    min-width: 420px

ul
    list-style: none
    margin: 0
    padding: 0

a
    color: inherit
    text-decoration: none

input, textarea, button, select
    outline: none
    border: 0
    border-radius: 0

button
    cursor: pointer

input, textarea
    background: transparent

.container
    margin: 0 auto
    width: 100%
    padding: 0 30px
    position: relative
    z-index: 5

.sticky
    padding: 20px 0
    position: sticky
    z-index: 100
    bottom: 0
    font-weight: 500
    font-size: 12px
    text-transform: uppercase
    mix-blend-mode: difference
    color: var(--color-white)
    .container
        @include flexbox
        align-items: center
        justify-content: space-between

.heading
    padding-top: 120px
    &-only-title
        padding-bottom: 72px
    &-flex
        @include flexbox
    &-label
        line-height: 1.6
        margin-bottom: 24px
    &-title
        font-size: 72px
        font-weight: 500
        line-height: 1.1
    &-description
        margin-top: 44px
        margin-left: calc(100% / 4)
        width: calc(100% / 4)
        line-height: 1.6
    &-bottom
        margin-top: 120px
        padding-bottom: 40px
        border-top: 1px solid rgba(0,0,0,0.1)
        @include flexbox
        align-items: flex-start
        gap: 8px
        span
            padding: 24px 0
            display: block
            font-size: 12px
            font-weight: 500
            text-transform: uppercase
            flex: 1

.btn
    height: 74px
    @include flexbox
    align-items: flex-end
    justify-content: space-between
    padding: 12px
    padding-right: 24px
    background: var(--color-accent)
    color: var(--color-white)
    transition: var(--transition-ms)
    span
        flex: 1
        gap: 10px
        line-height: 1.6
    &::after
        content: '→'
        line-height: 1.6
        display: block
    &:hover
        padding-left: 24px
        background: #0A39C2
    &-white
        background: var(--color-white)
        color: var(--color-black)
        &:hover
            background: var(--color-black)
            color: var(--color-white)

.marquee
    background: #122529
    height: 42px
    color: var(--color-white)
    text-transform: uppercase
    font-size: 16px
    font-weight: 500
    line-height: 1.1
    position: relative
    overflow: hidden
    &-track
        position: absolute
        display: flex
        width: max-content
        white-space: nowrap
        will-change: transform
        animation: marquee var(--duration, 20s) linear infinite
        height: 100%
    &-content
        @include flexbox
        align-items: center
        gap: 80px
        height: 100%
        padding-right: 80px

@keyframes marquee
    from
        transform: translateX(0)
    to
        transform: translateX(calc(-1 * var(--distance)))
