<footer class="footer">
	<div class="container">
		<div class="footer-main">
			<ul class="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Service</a></li>
			</ul>
			<div class="footer-logo">
				<img src="img/svg/logo-footer.svg" alt="" loading="lazy">
			</div>
			<div class="footer-bottom">
				<div class="footer-contacts">
					<div class="footer-contacts__item">
						<div class="footer-contacts__label">Socials</div>
						<ul class="footer-contacts__socials">
							<li><a href="#">Instagram</a></li>
							<li><a href="#">Telegram</a></li>
						</ul>
					</div>
					<div class="footer-contacts__item">
						<div class="footer-contacts__label">Email</div>
						<a href="mailto:contact@admondo.org">contact@admondo.org</a>
					</div>
				</div>
				<a href="#" class="footer-start"><span>Start with AdMondo</span></a>
			</div>
		</div>
	</div>
</footer>

<div class="sticky">
	<div class="container">
		<div class="sticky-copyright">2021 – 2023 © AdMondo</div>
		<div class="sticky-scroll">Scroll down</div>
	</div>
</div>