<header class="header{% if header_black == true%} header-black{% endif %}">
	<div class="container">
		<a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
		<ul class="header-nav">
			<li><a href="#"><span>Home</span><span>Home</span></a></li>
			<li><a href="#"><span>Solutions</span><span>Solutions</span></a></li>
			<li><a href="#"><span>Cases</span><span>Cases</span></a></li>
			<li><a href="#"><span>For publishers</span><span>For publishers</span></a></li>
			<li><a href="#"><span>About us</span><span>About us</span></a></li>
			<li><a href="#"><span>Contact us</span><span>Contact us</span></a></li>
		</ul>
		<div class="header-lang">
			<ul class="header-lang__favorites">
				<li><a href="#">English</a></li>
				<li><a href="#">Deutsch</a></li>
			</ul>
			<div class="header-lang__more" data-button="popup-lang">More...</div>
		</div>
	</div>
</header>