<header class="header">
	<div class="container">
		<a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
		<ul class="header-nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">Solutions</a></li>
			<li><a href="#">Cases</a></li>
			<li><a href="#">For publishers</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
		<div class="header-lang">
			<ul class="header-lang__favorites">
				<li><a href="#">English</a></li>
				<li><a href="#">Deutsch</a></li>
			</ul>
			<div class="header-lang__more">More...</div>
		</div>
	</div>
</header>