<section class="news">
	<div class="container">
		<div class="heading heading-flex heading-only-title">
			<h2 class="heading-title">News & Perspectives</h2>
		</div>
	</div>
	<div class="scroller">
		<div class="container">
			<div class="news-grid">
				<div class="news-item">
					<div class="news-item__date">November 14, 2025</div>
					<img src="img/news-item.jpg" alt="" loading="lazy" class="news-item__image">
					<a href="#" class="news-item__title">Unforgivable Affiliate Marketing Mistakes in 2025: Learn How to Avoidv</a>
					<ul class="news-item__tags">
						<li>Power Up</li>
						<li>Business</li>
					</ul>
				</div>
				<div class="news-item">
					<div class="news-item__date">November 14, 2025</div>
					<img src="img/news-item.jpg" alt="" loading="lazy" class="news-item__image">
					<a href="#" class="news-item__title">Unforgivable Affiliate Marketing Mistakes in 2025: Learn How to Avoidv</a>
					<ul class="news-item__tags">
						<li>Power Up</li>
						<li>Business</li>
					</ul>
				</div>
				<div class="news-item">
					<div class="news-item__date">November 14, 2025</div>
					<img src="img/news-item.jpg" alt="" loading="lazy" class="news-item__image">
					<a href="#" class="news-item__title">Unforgivable Affiliate Marketing Mistakes in 2025: Learn How to Avoidv</a>
					<ul class="news-item__tags">
						<li>Power Up</li>
						<li>Business</li>
					</ul>
				</div>
				<div class="news-item">
					<div class="news-item__date">November 14, 2025</div>
					<img src="img/news-item.jpg" alt="" loading="lazy" class="news-item__image">
					<a href="#" class="news-item__title">Unforgivable Affiliate Marketing Mistakes in 2025: Learn How to Avoidv</a>
					<ul class="news-item__tags">
						<li>Power Up</li>
						<li>Business</li>
					</ul>
				</div>
				<div class="news-item">
					<div class="news-item__date">November 14, 2025</div>
					<img src="img/news-item.jpg" alt="" loading="lazy" class="news-item__image">
					<a href="#" class="news-item__title">Unforgivable Affiliate Marketing Mistakes in 2025: Learn How to Avoidv</a>
					<ul class="news-item__tags">
						<li>Power Up</li>
						<li>Business</li>
					</ul>
				</div>
				<div class="news-item">
					<div class="news-item__date">November 14, 2025</div>
					<img src="img/news-item.jpg" alt="" loading="lazy" class="news-item__image">
					<a href="#" class="news-item__title">Unforgivable Affiliate Marketing Mistakes in 2025: Learn How to Avoidv</a>
					<ul class="news-item__tags">
						<li>Power Up</li>
						<li>Business</li>
					</ul>
				</div>
				<div class="news-item">
					<div class="news-item__date">November 14, 2025</div>
					<img src="img/news-item.jpg" alt="" loading="lazy" class="news-item__image">
					<a href="#" class="news-item__title">Unforgivable Affiliate Marketing Mistakes in 2025: Learn How to Avoidv</a>
					<ul class="news-item__tags">
						<li>Power Up</li>
						<li>Business</li>
					</ul>
				</div>
				<div class="news-item">
					<div class="news-item__date">November 14, 2025</div>
					<img src="img/news-item.jpg" alt="" loading="lazy" class="news-item__image">
					<a href="#" class="news-item__title">Unforgivable Affiliate Marketing Mistakes in 2025: Learn How to Avoidv</a>
					<ul class="news-item__tags">
						<li>Power Up</li>
						<li>Business</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>