{% extends 'components/_layout.html' %}
{% set site_title = 'Admondo' %}

{% block content %}

<section class="hero">
	<video class="hero-video" preload playsinline autoplay loop muted>
		<source src="video/hero.mp4" type="video/mp4">
	</video>
	<div class="container">
		<div class="hero-description">Place performance formats inside content on partner websites, so your ads appear right when people are reading — and are ready to click.</div>
		<h1 class="hero-title">OWN MOMENTS OF ATTENTION</h1>
	</div>
</section>

{% endblock %}